<!DOCTYPE html>
<html lang="en">
<head>
    <style>table, th, td {
            border: 1px solid black;
          }</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warehouses</title>
</head>
<body>
    <h3>Add New Warehouse</h3>
    <form id="addWarehouse" method="POST">
        <label for="address">Street Address:</label>
        <input id="address" name="address" type="text">
        <label for="city">City:</label>
        <input id="city" name="city" type="text">
        <label for="state">State:</label>
        <select id="state" name="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>	
        <label for="size">Size(sq. ft):</label>
        <input id="size" name="size" type="number">
        <input id="insert" name="insert" value="insert" type="submit">
    </form>
    <h1>Search Warehouses</h1>
    <form id="searchWarehouses" method="POST">
        <label for="searchType">Search by:</label>
        <select name="searchType">
            <option value="id">ID</option>
            <option value="address">Address</option>
            <option value="city">City</option>
            <option value="state">State</option>
        </select>
        <input id="searchVal" name="searchVal" type="text">
        <input id="select" name="select" value="select" type="submit">
    </form>
    <h1>Search Results</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Size(sq. ft.)</th>
            <th>UPDATE</th>
            <th>DELETE</th>
            <th>View/Add/Remove Products</th>
        </tr>
        </thead>
        {{#each warehouse}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{address}}</td> 
            <td>{{city}}</td> 
            <td>{{state}}</td>
            <td>{{size}}</td>
            <td><button type="button" id="update{{id}}" onclick="updateWarehouse({{id}})">Update</button></td>
            <td><button type="button" id="delete{{id}}" onclick="deleteWarehouse({{id}})">Delete</button></td>
            <form action="/warehouse_product" method="GET">
                <td><button name="whID" value="{{id}}" type="submit">Products</button></td>
            </form>
        </tr> 
        {{/each}} 
    </table>
</body>
</html>